h1 {
    text-align: center;
    margin-bottom: 5%;
}

h3 {
    text-align: left;
    margin-bottom: 2%;
}

body {
    background-color: ivory;
    color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    align-items: center;
}

#legend {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5%;
    justify-content: space-between;
}

#titanic {
    align-items: center;
}
